@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .newsletter-one-body {
        background: linear-gradient(to bottom, white 0%, white 60%, theme(colors.violet.500) 60%, theme(colors.violet.500) 100%);
    }
    @media screen(lg) {
        .newsletter-one-body {
            background: linear-gradient(to right, white 0%, white 60%, theme(colors.violet.500) 60%, theme(colors.violet.500) 100%);
        }
    }
}